In [1]:
import argparse
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os
import pickle

# set verbose=0 the skip the charts and other information
# set verbose=1 to see chart and other information
verbose=0

In [2]:
model_dir = os.path.join(os.getcwd(), 'model')
data_dir = os.path.join(os.getcwd(), 'data')
model_filename = 'model.pkl'
scaler_filename = 'scaler.pkl'
testdata_file = 'datatest.txt'

# load model and scaler
with open(os.path.join(model_dir, model_filename), 'rb') as model_file:
    model = pickle.load(model_file)
    
with open(os.path.join(model_dir, scaler_filename), 'rb') as scaler_file:
    scaler = pickle.load(scaler_file)

Using TensorFlow backend.

WARNING:tensorflow:From C:\Users\SengTian\Anaconda3\envs\tf1.15\lib\site-packages\keras\backend\tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From C:\Users\SengTian\Anaconda3\envs\tf1.15\lib\site-packages\keras\backend\tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From C:\Users\SengTian\Anaconda3\envs\tf1.15\lib\site-packages\keras\backend\tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From C:\Users\SengTian\Anaconda3\envs\tf1.15\lib\site-packages\keras\backend\tensorflow_backend.py:174: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From C:\Users\SengTian\Anaconda3\envs\tf1.15\lib\site-packages\keras\backend\tensorflow_backend.py:181: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From C:\Users\SengTian\Anaconda3\envs\tf1.15\lib\site-packages\keras\backend\tensorflow_backend.py:186: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

WARNING:tensorflow:From C:\Users\SengTian\Anaconda3\envs\tf1.15\lib\site-packages\keras\backend\tensorflow_backend.py:190: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From C:\Users\SengTian\Anaconda3\envs\tf1.15\lib\site-packages\keras\backend\tensorflow_backend.py:199: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From C:\Users\SengTian\Anaconda3\envs\tf1.15\lib\site-packages\keras\backend\tensorflow_backend.py:206: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

WARNING:tensorflow:From C:\Users\SengTian\Anaconda3\envs\tf1.15\lib\site-packages\keras\optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From C:\Users\SengTian\Anaconda3\envs\tf1.15\lib\site-packages\tensorflow_core\python\ops\math_grad.py:1424: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From C:\Users\SengTian\Anaconda3\envs\tf1.15\lib\site-packages\keras\backend\tensorflow_backend.py:986: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From C:\Users\SengTian\Anaconda3\envs\tf1.15\lib\site-packages\keras\backend\tensorflow_backend.py:973: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

In [3]:
test_df = pd.read_csv(os.path.join(data_dir, testdata_file))
test_df['date']= pd.to_datetime(test_df['date']) 
test_df.sort_values(by='date', inplace=True, ascending=True)
test_df.reset_index(drop=True)

if verbose==1:
    print('Training Data:')
    print('The time series starts from: ', test_df.date.min())
    print('The time series ends on: ', test_df.date.max())
    print()

,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
0,2015-02-02 14:19:00,23.700000,26.272000,585.200000,749.200000,0.004764,1
1,2015-02-02 14:19:59,23.718000,26.290000,578.400000,760.400000,0.004773,1
2,2015-02-02 14:21:00,23.730000,26.230000,572.666667,769.666667,0.004765,1
3,2015-02-02 14:22:00,23.722500,26.125000,493.750000,774.750000,0.004744,1
4,2015-02-02 14:23:00,23.754000,26.200000,488.600000,779.000000,0.004767,1
5,2015-02-02 14:23:59,23.760000,26.260000,568.666667,790.000000,0.004779,1
6,2015-02-02 14:25:00,23.730000,26.290000,536.333333,798.000000,0.004776,1
7,2015-02-02 14:25:59,23.754000,26.290000,509.000000,797.000000,0.004783,1
8,2015-02-02 14:26:59,23.754000,26.350000,476.000000,803.200000,0.004794,1
9,2015-02-02 14:28:00,23.736000,26.390000,510.000000,809.000000,0.004796,1
10,2015-02-02 14:29:00,23.745000,26.445000,481.500000,815.250000,0.004809,1
11,2015-02-02 14:30:00,23.700000,26.560000,481.800000,824.000000,0.004817,1
12,2015-02-02 14:31:00,23.700000,26.600000,475.250000,832.000000,0.004824,1
13,2015-02-02 14:31:59,23.700000,26.700000,469.000000,845.333333,0.004842,1
14,2015-02-02 14:32:59,23.700000,26.774000,464.000000,852.400000,0.004856,1
15,2015-02-02 14:34:00,23.700000,26.890000,464.000000,861.000000,0.004877,1
16,2015-02-02 14:35:00,23.700000,26.972500,455.000000,880.000000,0.004892,1
17,2015-02-02 14:36:00,23.600000,26.890000,454.000000,891.000000,0.004848,1
18,2015-02-02 14:37:00,23.640000,26.976000,458.000000,897.600000,0.004875,1
19,2015-02-02 14:38:00,23.650000,27.050000,464.000000,900.500000,0.004891,1
20,2015-02-02 14:38:59,23.640000,27.100000,473.000000,908.800000,0.004898,1
21,2015-02-02 14:39:59,23.600000,27.160000,464.000000,918.000000,0.004897,1
22,2015-02-02 14:41:00,23.600000,27.236000,498.400000,925.200000,0.004910,1
23,2015-02-02 14:42:00,23.600000,27.290000,530.200000,929.400000,0.004920,1
24,2015-02-02 14:43:00,23.600000,27.330000,533.600000,936.400000,0.004928,1
25,2015-02-02 14:44:00,23.600000,27.340000,524.250000,950.000000,0.004929,1
26,2015-02-02 14:44:59,23.625000,27.392500,498.666667,961.000000,0.004946,1
27,2015-02-02 14:45:59,23.600000,27.390000,516.333333,963.000000,0.004938,1
28,2015-02-02 14:47:00,23.600000,27.412000,501.200000,958.600000,0.004942,1
29,2015-02-02 14:48:00,23.600000,27.500000,522.000000,965.333333,0.004958,1
...,...,...,...,...,...,...,...
2635,2015-02-04 10:14:00,23.790000,26.310000,763.000000,1158.200000,0.004797,1
2636,2015-02-04 10:14:59,23.790000,26.315000,758.250000,1160.250000,0.004798,1
2637,2015-02-04 10:15:59,23.890000,26.390000,755.500000,1166.000000,0.004841,1
2638,2015-02-04 10:17:00,23.890000,26.365000,758.250000,1164.750000,0.004837,1
2639,2015-02-04 10:18:00,23.890000,26.290000,772.750000,1163.250000,0.004823,1
2640,2015-02-04 10:19:00,23.984286,26.375714,767.000000,1172.714286,0.004866,1
2641,2015-02-04 10:20:00,24.000000,26.365000,774.500000,1182.000000,0.004869,1
2642,2015-02-04 10:21:00,24.050000,26.340000,774.500000,1182.000000,0.004879,1
2643,2015-02-04 10:21:59,24.080000,26.370000,769.800000,1187.600000,0.004893,1
2644,2015-02-04 10:23:00,24.100000,26.566667,758.333333,1191.333333,0.004936,1
2645,2015-02-04 10:24:00,24.100000,26.472500,775.750000,1213.750000,0.004919,1
2646,2015-02-04 10:25:00,24.100000,26.154000,775.000000,1194.000000,0.004859,1
2647,2015-02-04 10:25:59,24.100000,25.958000,783.400000,1173.400000,0.004822,1
2648,2015-02-04 10:27:00,24.100000,25.918000,789.600000,1160.200000,0.004815,1
2649,2015-02-04 10:27:59,24.100000,25.892500,797.500000,1156.250000,0.004810,1
2650,2015-02-04 10:28:59,24.100000,25.832000,799.000000,1139.000000,0.004799,1
2651,2015-02-04 10:30:00,24.175000,25.840000,782.500000,1140.500000,0.004822,1
2652,2015-02-04 10:31:00,24.200000,25.891667,786.166667,1145.333333,0.004839,1
2653,2015-02-04 10:32:00,24.200000,25.890000,794.250000,1149.250000,0.004839,1
2654,2015-02-04 10:33:00,24.200000,25.890000,797.500000,1152.500000,0.004839,1
2655,2015-02-04 10:34:00,24.200000,25.890000,787.000000,1153.250000,0.004839,1
2656,2015-02-04 10:34:59,24.218000,25.912000,805.000000,1152.400000,0.004848,1
2657,2015-02-04 10:36:00,24.260000,25.891667,798.000000,1146.166667,0.004857,1
2658,2015-02-04 10:37:00,24.290000,25.978000,793.000000,1145.400000,0.004882,1
2659,2015-02-04 10:38:00,24.290000,25.852000,801.400000,1140.800000,0.004858,1
2660,2015-02-04 10:38:59,24.290000,25.700000,808.000000,1150.250000,0.004829,1
2661,2015-02-04 10:40:00,24.330000,25.736000,809.800000,1129.200000,0.004848,1
2662,2015-02-04 10:40:59,24.330000,25.700000,817.000000,1125.800000,0.004841,1
2663,2015-02-04 10:41:59,24.356667,25.700000,813.000000,1123.000000,0.004849,1
2664,2015-02-04 10:43:00,24.408333,25.681667,798.000000,1124.000000,0.004860,1

In [4]:
import mycharts

if verbose==1:
    mycharts.chart01(test_df.columns[1:], test_df, 'blue')

In [5]:
X = test_df.loc[:, 'Temperature' : 'HumidityRatio'].copy().to_numpy()
y = test_df.loc[:, 'Occupancy'].copy().to_numpy()

In [6]:
X = scaler.transform(X)

#reshape for LSTM samples, 1 timestep and 5 features
X = X.reshape(-1, 1, 5)

In [7]:
pred = model.predict(X)
pred_classes = model.predict_classes(X)

In [8]:
pred_classes_squeezed = np.squeeze(pred_classes)

In [9]:
from sklearn.metrics import classification_report, confusion_matrix

print(pd.crosstab(y, pred_classes_squeezed, rownames=['True'], colnames=['Predicted'], margins=True))
print()
print(classification_report(y, pred_classes_squeezed))

Predicted     0     1   All
True
0          1638    55  1693
1             3   969   972
All        1641  1024  2665

              precision    recall  f1-score   support

           0       1.00      0.97      0.98      1693
           1       0.95      1.00      0.97       972

    accuracy                           0.98      2665
   macro avg       0.97      0.98      0.98      2665
weighted avg       0.98      0.98      0.98      2665